# AWS Configuration
AWS_REGION=us-east-1
AWS_PROFILE=default

# Terraform
TF_VAR_environment=dev
TF_VAR_aws_region=us-east-1

# API Configuration
CEP_API_URL=https://cep.awesomeapi.com.br/json/01001000
